.contact-form {
 width: 100%;
 text-align: center;
 color: white;
 background: linear-gradient(45deg, rgb(152, 207, 195) 22%, rgb(6, 11, 11));
 padding: 100px 0 200px 0;
 height: 100vh;

 form {
  display: flex;
  flex-direction: column;

  label:nth-child(3) {
   display: flex;
   width: 160px;
   margin: 22px auto 0;
   flex-direction: column;

   select {
    margin-top: 20px;
   }
  }

  button {
   width: 11%;
   margin: 35px auto;
  }
 }
}
